<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Pizzeria Vesuvio')"></head>
<body>
<nav th:replace="fragments/navbar :: topNavbar('pizza')"></nav>
<div class="container" th:object="${pizza}">
    <div class="card m-3">
        <img th:src="*{imageUrl}" alt="pizza image">
        <h3 th:text="*{name}"></h3>
        <p th:text="*{description}"></p>
        <strong th:text="*{priceInCents}"></strong>
        <p>
            <a th:href="@{/pizzas}" class="btn btn-primary">Back to menu</a>
        </p>
    </div>

    <h2>OFFERS</h2>
    <div class="row">
        <div class="col-12" sec:authorize="hasAuthority('ADMIN')">
            <a th:href="@{/offer/create(pizzaId=${pizza.id})}" class="btn btn-primary">Create new offer</a>
        </div>
        <table th:if="${offer > 0}">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th sec:authorize="hasAuthority('ADMIN')">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="offer : *{offers}" th:object="${offer}">
                    <td th:text="*{title}"></td>
                    <td th:text="*{startDate}"></td>
                    <td th:text="*{endDate}"></td>
                    <td sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{/offer/edit/{id}(id=*{id})}" class="btn btn-primary">Edit</a>
                        <form th:action="@{/offer/delete/{id}(id=*{id})}" method="POST"><button type="submit" class="btn btn-danger">Delete</button></form>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3 th:unless="${offer > 0}">No offers available</h3>
    </div>
</div>
</body>