<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Pizzeria Vesuvio')"></head>
<body>
<nav th:replace="fragments/navbar :: topNavbar('pizza')"></nav>
<div class="container">
    <h1>Edit offer</h1>
    <form id="edit-offer"
          method="POST"
          th:action="@{/offers/edit/{id}(id=*{id})}"
          th:object="${offer}"
          class="row g-3"
    >
        <!--        Hidden  -->
        <input type="hidden" th:field="*{pizza}">

        <!--    Name    -->
        <div class="col-md-6">
            <label for="title" class="form-label">Title</label>
            <input
                    type="text"
                    class="form-control"
                    id="title"
                    name="title"
                    th:field="*{title}"
            >
        </div>

        <!--    Start Date    -->
        <div class="col-md-6">
            <label for="startDate" class="form-label">Start Date</label>
            <input
                    type="date"
                    class="form-control"
                    id="startDate"
                    name="startDate"
                    th:field="*{startDate}"
            >
        </div>

        <!--    End Date    -->
        <div class="col-md-6">
            <label for="endDate" class="form-label">End Date</label>
            <input
                    type="date"
                    class="form-control"
                    id="endDate"
                    name="endDate"
                    th:field="*{endDate}"
            >
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Modify</button>
        </div>
    </form>
</div>
</body>
</html>